.tableWithDesc {
	width: 900px;
}

.library_remove-message {
    font-weight:bold;

}

.library_remove-alert {
    font-weight:bold;
}

.library_remove {
    width: 300px;
}

#check-updates-btn {
	margin: 5px;
}

.tableDescContent.float-left {
	width: 0 !important;
}

.tableDescContent-Aligned td:first-child {
	text-align: left;
}

input#isDefault {
	vertical-align: -2px;
}